.footer{
    text-align: center;
    padding: 64px 0;
}

.footer > * {
    margin-bottom: 24px;
}

.footer__titulo{
    line-height: 1.2;
    margin-bottom: 20px;
    font-family: var(--fonte-principal);
    font-weight: 600;
    font-size: 2.25rem;
    
}
.footer__texto{
    color: var(--cor-cinza);
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5;
}

.footer__formulario {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__input{
    padding: 12px 16px;
    margin-right: 16px;
    width: 360px;
    font-size: 1rem;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
}
.footer__botao{
    font-size: 1rem;
    font-weight: 500;
    color: var(--cor-base);
    background-color: var(--cor-botao-cadastrar);
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
}
.footer__copyright{
    margin-top: 20px;
    color: var(--cor-cinza);
    font-family: var(--fonte-principal);
}
@media (max-width: 768px) {
    .footer__formulario {
        flex-direction: column;
        gap: 16px;
        padding: 0 1rem;
    }
    .footer__input {
        width: 100%;
        box-sizing: border-box; 
        margin-right: 0;
    }
    .footer__titulo {
        font-size: 1.75rem;
    }
    .footer__texto {
        font-size: 1rem;
    }
}