.cabecalho {
    width: 100%;
    padding: 0 5rem; 
    box-sizing: border-box; 
}

.cabecalho__navegacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    height: 80px; 
    margin: 0 auto; 
}

.cabecalho__menu {
    display: flex;
    align-items: center;
    width: 45%;
    justify-content: space-between;
    gap: 4rem; 
}

.cabecalho__menu-lista {
    display: flex;
    gap: 2rem; 
}

.cabecalho__menu-link {
    font-size: 1rem;
    font-weight: 500;
    color: var(--cor-cinza);
    text-decoration: none;
}

.cabecalho__login {
    display: flex;
    align-items: center;
    gap: 1.5rem; 
}

.cabecalho__login-link {
    font-size: 1rem;
    font-weight: 500;
    color: var(--cor-cinza);
    text-decoration: none;
}

.cabecalho__login-botao {
    font-size: 1rem;
    font-weight: 500;
    color: var(--cor-base);
    background-color: var(--cor-botao-cadastrar);
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
}