.header{
    width: 1440px;
    display: flex;
    text-align: center;
    margin:0 150px ;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    width: 100%;
}
.header__logo{
    display: flex;
}
.header-menu{
    display: flex;
    padding: 1rem;
    width: 25vw;
    text-decoration: none;
    justify-content: space-around;
}
.header-menu__link{
    text-decoration: none;
    background-clip: text;
    color:var(--cor-cinza);
}


.header-menu__login{
    display: flex;
    width: 8em;
    justify-content: space-between;
    text-decoration: none;
    padding:  2rem;
}
.header-menu__nav__link{
    text-decoration: none;
    color: var(--cor-cinza);
    display: inline-block;
    padding: 10px 18px ;
    
}
.header-menu__extra{
    background-color: var(--cor-botao-cadastrar);
    color: var(--cor-base);
    border-radius: 8px;
    display: inline-block;
    padding: 10px 18px;
    width: 100%;
    
}