.cabecalho {
    padding: 18px 5%;
    box-sizing: border-box;
    width: 100%;
}
.cabecalho__navegacao {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap; 
    gap: 32px; 
}
.cabecalho__menu {
    display: flex;
    align-items: center;
    gap: 32px; 
}

.cabecalho__menu-lista {
    display: flex;
    gap: 24px; 
}

.cabecalho__menu-link {
    text-decoration: none;
    color: var(--cor-cinza);
    font-weight: 500;
    font-family: var(--fonte-principal);
}

.cabecalho__login {
    display: flex;
    align-items: center;
    gap: 12px; 
}

.cabecalho__login-link {
    text-decoration: none;
    color: var(--cor-cinza);
    font-weight: 500;
    font-family: var(--fonte-principal);
}

.cabecalho__login-botao {
    text-decoration: none;
    background-color: var(--cor-botao-cadastrar);
    color: var(--cor-base);
    padding: 10px 18px;
    border-radius: 8px;
    font-weight: 500;
    font-family: var(--fonte-principal);
}

@media (max-width: 820px) {
    .cabecalho__navegacao {
        flex-direction: column; 
        justify-content: center; 
    }
}