.metrica{
    width: 80%;
    padding: 2rem 4.0rem;
    margin: auto;
    display: flex;
    
}
.metrica__item{
    line-height: 3rem;
    width: 60%;
}
.metrica__titulo{
    font-family: var(--fonte-principal);
    font-weight: 600;
    font-size: 3.25rem;
    color: var(--cor-metrica-titulo);
}
.metrica__subtitulo{
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1rem;
}
.metrica__texto{
    color: var(--cor-cinza);
    line-height: 1.2rem;
    width: 85%;
}