@import url('header.css');
@import url('about.css');
@import url('metrica.css');
@import url('talentos.css');
@import url('vagas.css');


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --cor-base: #ffffff;
    --cor-botao-cadastrar: #8E2424;
    --cor-cinza:#667085;
    --cor-banner-titulo: #101828;
    --cor-about: #8E2424;
    --cor-metrica-titulo: #8E2424;
    --cor-vagas: #8e2424;
    --cor-fundo-talentos: #8E24240D 5%;

    --fonte-principal: 'Inter';
}

body{
    
    height: 100vh;
}

